/* General Section Styling */
.contact-section {
    background-color: #f9f9f9;
  }
  
  .contact-card {
    position: relative;
    background: #ff8159;
    padding-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .contact-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .contact-icon {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff7f50;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    animation: float 3s infinite;
  }
  
  .contact-card img {
    border-radius: 15px;
    object-fit: cover;
  }
  
  .contact-card p {
    color: #ffffff;
    margin: 10px 0 0;
  }
  
  /* Floating Icon Animation */
  @keyframes float {
    0% {
      transform: translate(-50%, -10px);
    }
    50% {
      transform: translate(-50%, 0px);
    }
    100% {
      transform: translate(-50%, -10px);
    }
  }
  

  .contact-form {
    max-width: 800px;
    margin: 50px auto;
    background: transparent;
    padding-bottom: 50px;
  }

  .form-control {
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    outline: none;
    box-shadow: none;
  }

  .form-control:focus {
    border-color: #ff7e58;
    box-shadow: 0 0 5px rgba(255, 126, 88, 0.5);
    outline: none;
  }

  .btn-submit {

    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }

